
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

.titulotabela h1 {
    
    text-align: center;
    padding: 30px;

}

 

  
    .sidebar{
        width: 100%;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        padding: 20px 0 0;
        box-shadow: inset -1px 0 0 rgba(0,0,0,.1);
     
    }
    .sidebar-heading{
        font-size: .75rem;
        text-transform: uppercase;
    }
    
    .sidebar .nav-link{
        font-weight: 600;
        color: #333;
    }
    .sidebar .nav-link.active{
        color: #007bff;
    }

    .div2 {
       
        padding: 14px;
       

    }
.botao {
    display: block;
    cursor: pointer;
}
   
.menu {
    margin-left: 10px;
    margin-top: 20px;
}

.menu ul li {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}



.imgbotao {
    padding-left: 28px;
}


@media only screen and (min-width: 769px) {
    .botao {
        display: none;
    }

    .menu ul li{
        width: 50%;
        float: left;
        position: relative;
        display: block;
    }

    h6 {
        display: block;
    }
}
